NET "a" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c" LOC = P29 | IOSTANDARD = LVTTL | PULLDOWN;
NET "s" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c_out" LOC = P9 | IOSTANDARD = LVTTL | PULLDOWN;